body {
    background-image: url("../img/workers.png");
    background-repeat: no-repeat;
    
    
}

.top-section {
    padding: 10px 0 0;
    background: #303F9F;
    color: #FFFFFF;
    font-size: 13px;
}
.top-section ul li a {
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
}
.modal-static { 
    position: fixed;
    top: 50% !important; 
    left: 50% !important; 
    margin-top: -100px;  
    margin-left: -100px; 
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px; 
    height: 200px; 
}
.modal-dialog1 {
    width: 600px; 
    height: 600px; 
}

.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important; 
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}









